DATABASE_URL=postgresql://admin:admin@localhost:5432/yelly?schema=public
DATABASE_URL=postgresql://admin:admin@localhost:5432/yelly?schema=public
DATABASE_READ_URL=postgresql://admin:admin@localhost:5432/yelly?schema=public
ALGOLIA_API_KEY=ALGOLIA_API_KEY
ALGOLIA_APP_ID=ALGOLIA_APP_ID
ALGOLIA_INDEX_PREFIX=ALGOLIA_INDEX_PREFIX
EMAIL_PROVIDER_API_KEY=EMAIL_PROVIDER_API_KEY

### sendBird credentials dev
SENDBIRD_BASE_URL="SENDBIRD_BASE_URL"
SENDBIRD_TOKEN=SENDBIRD_TOKEN

GOOGLE_API_KEY=GOOGLE_API_KEY
EXPO_ACCESS_TOKEN=EXPO_ACCESS_TOKEN
APP_BASE_URL=exp://192.168.0.13:19000/--